<div class="container my-4">
  <div class="row">
    <div class="col-sm12 col-md-6 my-4">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :nickname,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "nickname" } %>
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "firstname" } %>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "firstname" } %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo,
                      as: :file,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
      <br>
    </div>

    <div class="col-sm12 col-md-6 my-4">
      <% if current_user.actor? %>
        <%= render "devise/shared/settings" %>
      <% else %>
        <section id="become-an-actor">
          <div id="wanna-be-actor">
            <h2>Want to be an actor?</h2>
            <p>Press "Start my journey" and fill your availability time</p>
            <button class="btn btn-primary btn-block" id="start-my-journey">Start my journey</button>
          </div>
          <div class="d-none" id="actor-settings-hidden">
            <%= render "devise/shared/settings" %>
          </div>
        </section>
      <% end %>
      <br>
    </div>

    <div class="col-sm12 my-4 mx-3 py-2 border-top w-100">
      <h3>Cancel my account</h3>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>