<div class="col-md-4 col-xs-12 booking-scroll">
  <div class="performance-show-card">
    <h3>Book your performance now!</h3> 
    <%= simple_form_for [@booking], method: "post" do |f| %>
      <%= f.association :performance, as: :hidden, input_html: { value: @performance.id } %>
      <%= f.input :date, as: :string,
                         input_html: { class: "datepicker" },
                         placeholder: "Pick a date" %>
      <%= f.input :start_time, { label: "Start hour", discard_minute: true } %>
      <%= f.input :end_time, { label: "End hour", discard_minute: true } %>
      <%= f.input "Price/hour", input_html: { value: "#{@performance.price_per_hour} CHF", disabled: true } %>
      <%= f.input "Price", input_html: { value: "0 CHF", disabled: true } %>
      <%= f.submit "Book", class: "btn btn-primary mt-3 disable disabled", id: "submit-button" %>
    <% end %>
  </div>
</div>