

<div class="col-md-4 col-xs-12 booking-scroll">
  <div class="performance-show-card">
    <h3>Book your performance now!</h3> 
    <%= simple_form_for @booking, method: "post" do |f| %>
      <%= f.input :performance, as: :hidden %>
      <%= f.input :date, as: :string,
                         input_html: { class: "datepicker" },
                         placeholder: "Pick a date" %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.submit "Book", class: "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>
