
<div class="card-trip m-4 position-relative">

  <% if booking.pending? && current_user == booking.actor %>
    <div class="" id="buttons-booking">
      <%= link_to booking_reject_path(booking), method: "post" do %>
        <button class="btn btn-danger btn-lg position-absolute m-4" id="btn-reject" style="top:75px;left:0;">Reject</button>
      <% end %>
      <%= link_to booking_confirm_path(booking), method: "post" do %>
        <button class="btn btn-success btn-lg position-absolute m-4" id="btn-confirm" style="top:75px;right:0;">Reject</button>
      <% end %>
    </div>
  <% end %>

  <div class="container my-4 d-flex justify-content-between align-items-start">
    <div>
      <h3><%= booking.performance.character.name %> </h3>
      <h5>Hired by <%= "@#{booking.client.nickname}" %> </h5>
    </div>
    <% if booking.pending? %>
      <i class="fas fa-hourglass-half text-warning text-big" id="booking-to-confirm" style="top: 10px; right: 10px;"></i>
    <% elsif booking.confirmed? %>
      <i class="fas fa-check-circle text-success text-big" style="top: 10px; right: 10px;"></i>
    <% elsif booking.canceled? %>
      <i class="fas fa-times-circle text-danger text-big" style="top: 10px; right: 10px;"></i>
    <% end %>
  </div>
  <%= cl_image_tag booking.performance.photos.first.key %>
  <div class="card-trip-infos">
    <div class="card-trip-description">
      <p>Address: <%= booking.performance.location.address %></p>
      <p>Date: <%= booking.date.strftime("%a, %d %B %Y") %></p>
      <p>
        From: <%= booking.start_time.strftime("%I:%M %p") %>
        to: <%= booking.start_time.strftime("%I:%M %p") %>
      </p>
      <h2 class="card-trip-pricing mt-1">Total cost: <%= booking.price %> CHF</h2>
    </div>
    <%= cl_image_tag(booking.performance.user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar-bordered") %>
  </div>
</div>


