<header>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top <%= yield(:navbar_class) %>">
    <%= link_to root_path, class: "navbar-brand" do %>
      <% logo = content_for?(:logo) ? yield(:logo) : "Logo-green.png" %>
      <%= image_tag logo, class: "rounded" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Meet a new character", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My bookings", "#", class: "nav-link" %>
          </li>
          <% if current_user.actor %>
            <li class="nav-item">
              <%= link_to "My performances", "#", class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to new_performance_path, class: "nav-link mr-3" do %>
                <i class="fas fa-plus"></i> <i class="fas fa-theater-masks text-medium"></i>
              <% end %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%= cl_image_tag("default_profile_um6sky.jpg", :default_image => "default_profile_um6sky.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Meet a new character", "#", class: "dropdown-item" %>
              <%= link_to "My bookings", "#", class: "dropdown-item" %>
              <% if current_user.actor %>
                <%= link_to "My performances", "#", class: "dropdown-item" %>
                <%= link_to "New performance", new_performance_path, class: "dropdown-item" %>
              <% end %>

              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

    <div class="next <%= yield(:no_display_class) %>"></div>

</header>
