<%= link_to performance_path(performance) do %>
    <div class="card-trip">
      <img src= <%= "https://source.unsplash.com/400x300/?#{performance.character_category}" %> />
      <h2 class="card-trip-number-of-guests"><i class="fas fa-heart"></h2>
      <div class="card-trip-infos">
        <div>
          <h2><%= performance.character.name %></h2>
          <p><%= performance.user.nickname %></p>
        </div>
        <h2 class="card-trip-pricing">CHF <%= performance.price_per_hour %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end %>