<%= link_to performance_path(performance) do %>
  <div class="row m-0 border-bottom">

    <div class="col-xs-12 col-sm-5 p-0 images-presentation">
      <div class="h-100 p-3 image-container">
        <% if performance.photo.attached? %>
          <%# raise %>
          <%= cl_image_tag performance.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src=<%= "https://source.unsplash.com/400x300/?#{performance.character.name}" %> />
        <% end %>
      </div>
      <div class="ranking">
        <h2 class="text-mode-gradient brand-color text-small">
          grand-master
        </h2>
      </div>
    </div>

    <div class="col-xs-12 col-sm-7 p-0">
      <div class="h-100 d-flex flex-column justify-content-between px-3 py-3">
        <div class="d-flex justify-content-between align-items-start pb-2">
          <div>
            <p>interpreted by: <%= performance.user.nickname %></p>
            <h2 class="text-medium">
              <%= performance.character.name %>
            </h2>
          </div>
          <% if performance.user.photo.attached? %>
            <%= cl_image_tag(performance.user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar-bordered") %>
          <% else %>
            <%= cl_image_tag("default_profile_um6sky.jpg", :default_image => "default_profile_um6sky.jpg", class: "avatar-bordered") %>
          <% end %>
        </div>

        <br>

        <div class="text-small text-thin">
          <%= performance.description.truncate(120) %>
        </div>

        <br>

        <div class="d-flex justify-content-between align-items-end pt-2">
          <p><i class="fas fa-star d-none"></i></p>
          <div class="text-small">
            <span class="text-bold">
              CHF <%= performance.price_per_hour %>
            </span>
            <span class="text-regular">
              /hour
            </span>
          </div>
        </div>

      </div>
    </div>

  </div>
<% end %>
