<div class="container p-4">
  <%= simple_form_for @performance do |f| %>
    <%= f.input :character %>
    <%= f.input :performance_category %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :price_per_hour %>
    <%= f.submit "Submit performance", class: "btn btn-primary" %>
  <% end %>
</div>
