<div class="performance-show-container">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path @performance.photos.first.key, crop: :fill %>')">
    <div class="title-show text-center">
      <h1><%= @performance.character.name %> by <%= @performance.user.nickname %></h1>
      <p><%= @performance.location.address %></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="performance-show-card">
          <h2><%= @performance.character.name %></h2>
          <p>Universe: <%= @performance.character_category.name %></p>
          <p><%=@performance.description %></p>
          <h5>Availabilities</h5>
          <p><%=@performance.user.availability_start_time.strftime("%I:%M %p") %> to <%=@performance.user.availability_end_time.strftime("%I:%M %p") %></p>
        </div>
      </div>
      <%= render "bookings/form" %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="performance-show-card">
          <h3>Details</h3>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <i class="fas fa-theater-masks"></i><span> <%= @performance.performance_category.name %></span>
            </div>
            <div class="text-small">
              <span class="text-bold">
                CHF <%= @performance.price_per_hour %>
              </span>
              <span class="text-regular">
                /hour
              </span>
            </div>
          </div>
        </div>
        <div class="performance-show-card">
          <div class="flex-align">
            <h6 class="no-mb">Share</h6>
            <div class="d-flex">
              <i class="fab fa-facebook-f fa-2x mr-2"></i>
              <i class="fab fa-twitter-square fa-2x mr-2"></i>
              <i class="fas fa-envelope-square fa-2x mr-2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
